body{
  background-color: #022B3A;
  font-family: 'Ubuntu Condensed', sans-serif;
  color:white;
  
}

.header{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item{
  font-size: 1.6rem;
  cursor:pointer;
  color:#fff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightsalmon;
  text-transform: capitalize;
}



.lblCadastrar{
  font-size: 1.6rem;
  font-weight: 500;
}


.btnPLUS-text{
  font-size: 2rem;
  font-weight: 600;
}

.btn-danger {
  background-color: rgb(243, 2, 2);
  cursor: pointer;
}

.btn{
  cursor: pointer;
}

.bg-menu{
  background-color: #1F7A8C;
}


.text-dark{
  color:black;
  transition: 0.s all;
}

.tema-light{
  color: black;
  background-color: white;
  transition: 0.5s all;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.simbol{
  font-size: 3rem;
  color: black;
  animation: colorir 6s alternate-reverse ease-in-out infinite;
}


@keyframes colorir{
  0%{
    color: black;
  }

  50%{
    color:darkblue;
  }

  100%{
    color: #fff;
  }
}


/* Scroll */
::-webkit-scrollbar{
  background: black;
  width: 6px;
  
}
::-webkit-scrollbar-thumb{
  background:#e1e1e1;
  
}
