body{
  background-color: #022B3A;
  font-family: 'Ubuntu Condensed', sans-serif;
  
}

.todo-item{
  font-size: 1.6rem;
  display: flex;
  align-content: center;
  color:#fff;
}

h1,label{
  color:#E1E5F2;
}

.lblCadastrar{
  font-size: 1.6rem;
}


.btnPLUS-text{
  font-size: 2rem;
  font-weight: 600;
}

.btn-danger {
  background-color: rgb(243, 2, 2)
}

.bg-menu{
  background-color: #1F7A8C;
}

